*, *::before, *::after {
    box-sizing:border-box;
}


body{
    margin:0;
    background: linear-gradient(to right,#00AAFF, #00ff6c);
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This ensures the container takes up the full height of the viewport */
  }
  
  h1 {
    font-size: 2em; /* Adjust the font size as needed */
    margin-bottom: 20px; /* Add some space below the heading */
  }
  
  .calculator-grid {
    /* Your existing styles for the calculator grid */
    /* ... */
  }
  

.calculator-grid{
    display: grid;
    margin-top:2rem;
    grid-template-columns: repeat(4,6rem);
    grid-template-rows: minmax(7rem,auto) repeat(5,6rem);
}

.calculator-grid > button{
    cursor:pointer;
    font-size: 2rem;
    border:1px solid white;
    outline:none;
    background-color: rgba(8, 50, 65, 0.75);
}

.calculator-grid > button:hover,
.calculator-grid > button:focus{
    background-color: rgba(181, 208, 223, 0.9);
}

.span-two{
    grid-column: span 2;
}

.output{
    grid-column: 1 / -1;
    background-color: rgba(0,0,0,.75);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;

}

.output .previous-operand{
    color: rgba(255,255,255,.75);
}

.output .current-operand{
    color: white;
    font-size: 2.5rem;
}